import("grDevices", "graphics", "methods", "utils")
importFrom("splines", "interpSpline")

exportPattern("^[^\\.]")

exportClasses("nifti",
              "anlz",
              "niftiExtension",
              "niftiExtensionSection",
              "niftiAuditTrail")

exportMethods("audit.trail<-",
              "audit.trail",
              "aux.file<-",
              "aux.file",
              "descrip<-",
              "descrip",
              "orthographic",
              "overlay",
              "show")
